* {
  margin: 0;
}


html {
  height: 100%;
  background: rgb(255, 232, 232);
  padding: 10px;
}

.body {
  font-family: 'Playfair Display SC', serif;
  overflow-x: hidden;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
  text-align: right;
  overflow-x: hidden;
}

.text {
color: rgb(0, 0, 0);
}

.autor {
  color: #337AB7;
  font-size: 15px;
  padding-top: 10px;
  margin: 25px;
  display: block;
  text-align: right;
}

.blockquote {
  border-left: 6px solid #337AB7;
  font-size: 16px;
  font-style: italic;
  margin: 16px;
  padding: 16px 24px;
  position: relative;
}

.buttons {
  vertical-align: baseline;
  line-height: 36px;
  list-style: none;
  background: rgb(236, 162, 162);
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
}

.button {
  list-style: none;
  padding-right: 30px;
  display: inline-block;
  border-radius: 10px;
  border: seashell;
}

.link {
  text-decoration: none;
  color:black!important;
  border-radius: 2px;
  border: black;
}

.intro {
  max-width: 1366px;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  overflow-x: hidden;
  text-align: center;
  border-radius: 20px;
}

.parallax-mirror {
  border-radius: 20px;
}

.container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  position: center;
  display: block;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 20px;
  background: rgb(236, 162, 162);
}

.container::after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.column-1-3 {
  height: auto;
  width: 30%;
  float: left;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  padding:10px;
  border-radius: 10px;
  border: 2px solid white;
  background: rgb(253, 191, 191)
}

@media (max-width: 1401px) {
  .column-1-3 {
    float: none;
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .column-1-3 {
    float: none;
    width: 100%;
  }
  .button {
    float: left;
    width: 100%;
    margin-right: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .column-1-3 {
    float: none;
    width: auto;
  }

  .intro-title {
    font-size: 10px;
  }

  .button {
    float: none;
    width: 100%;
    margin-right: auto;
    margin-right: auto;
  }
}

.intro-title {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(245, 192, 192);
  margin-right: 10px;
  margin-left: 10px;
  word-wrap: break-word;
  white-space: normal;
}

.intro-title-text {
  margin-right: 10px;
  margin-left: 10px;
}

.big-text {
  text-align: center;
  font-size: 30px;
}

.title {
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 15px;
  letter-spacing: 2px;
  border-radius: 10px;
  border:1px solid rgb(255, 255, 255);
  margin-bottom: 10px;
}

.text {
  text-align: center;
}
